Repository api3dao/api3-docs, pull requests merged in 2022-12, with the labels that each got.

#1133 made changes related to ois v1.3
  docs/.vuepress/components/ois/OisAirnodeVersions.vue
  docs/.vuepress/config.js
  docs/ois/v1.3/README.md
  docs/ois/v1.3/assets/diagrams/ois-overview-extended.drawio
  docs/ois/v1.3/assets/images/ois-overview-extended.png
  docs/ois/v1.3/example.json
  docs/ois/v1.3/example.md
  docs/ois/v1.3/ois-template.md
  docs/ois/v1.3/ois.md
  docs/ois/v1.3/processing.md
  docs/ois/v1.3/reserved-parameters.md
  docs/ois/v1.3/sidebar.js
Labels: OIS, v0.10

#1128 added-deployment-statuses-to-deployments-docs
  docs/chainapi/assets/images/deployment-statuses-diagram.png
  docs/chainapi/user-guides/deployments.md
Labels: ChainAPI

#1149 0.9.1 > 0.9.2
  docs/airnode/v0.9/grp-providers/docker/admin-cli-image.md
  docs/airnode/v0.9/grp-providers/docker/client-image.md
  docs/airnode/v0.9/grp-providers/docker/deployer-image.md
  docs/airnode/v0.9/grp-providers/guides/build-an-airnode/configuring-airnode.md
  docs/airnode/v0.9/grp-providers/guides/build-an-airnode/deploying-airnode.md
  docs/airnode/v0.9/grp-providers/guides/build-an-airnode/heartbeat.md
  docs/airnode/v0.9/grp-providers/tutorial/quick-deploy-aws/README.md
  docs/airnode/v0.9/grp-providers/tutorial/quick-deploy-aws/src/quick-deploy-aws/config.json
  docs/airnode/v0.9/grp-providers/tutorial/quick-deploy-container/README.md
  docs/airnode/v0.9/grp-providers/tutorial/quick-deploy-container/src/quick-deploy-container/config.json
  docs/airnode/v0.9/grp-providers/tutorial/quick-deploy-gcp/README.md
  docs/airnode/v0.9/grp-providers/tutorial/quick-deploy-gcp/src/quick-deploy-gcp/config.json
  docs/airnode/v0.9/reference/deployment-files/config-json.md
  docs/airnode/v0.9/reference/deployment-files/receipt-json.md
  docs/airnode/v0.9/reference/examples/config-cloud.json
  docs/airnode/v0.9/reference/examples/config-local.json
  docs/airnode/v0.9/reference/migration.md
  docs/airnode/v0.9/reference/packages/admin-cli.md
  docs/airnode/v0.9/reference/templates/config-json.md
Labels: enhancement, v0.9

#1154 1153 bytes32 dapi name datafeed
  docs/dapis/developers/data-feed-id-to-reader-to-whitelist-status.md
  docs/dapis/developers/read-data-feed-value-with-dapi-name.md
  docs/dapis/developers/read-data-feed-value-with-id.md
  docs/dapis/developers/read-data-feed-with-dapi-name.md
  docs/dapis/developers/read-data-feed-with-id.md
  docs/dapis/developers/reader-can-read-datafeed.md
Labels: corrections, dAPIs
